div.ant-col.ant-col-8.ant-form-item-label,
div.ant-row.ant-form-item-row {
  overflow: visible !important;
  width: 100% !important;
  white-space: nowrap;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #fff !important;
  font-weight: 500;
}

div.ant-tabs-tab-btn {
  color: #fff !important;
}
