$white: #fff;
$borderColor: #cfcfcf;
$backgroundColor: #1c1e1f;
$cardBorderColor: #5555554d;
$footerBg: #000;
$footerBorder: #8888884d;
$inactiveGray: #b8b8b8;
$contactBg: #232323;
$adminBg: #434343;
$green: #3ccf4e;
$sidebar: #353535;
$adminTextColor: #c8c8c8;
