@import "../../styles/colors.scss";
@import "../../styles/commonStyles.scss";

.homeContainer {
  background-color: $backgroundColor;
}

.homeWelcome {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  color: $white;
  padding: 0;
  align-items: initial;
  position: relative;
}

.homeWelcome .swiper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  @media screen and (max-width: 1024px) {
    & {
      height: 95vh;
    }
  }
}

.welcomeText {
  position: absolute;
  top: 50%;
  left: 5%;
  z-index: 20;
  transform: translateY(-50%);
  @media screen and (max-width: 1024px) {
    & {
      top: 70%;
      transform: translateY(0%);
      left: 3%;
    }
  }
}

.sliderNav {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 10px;
  background-color: rgba($color: #fff, $alpha: 0.5);
  z-index: 20;
  border-radius: 20px;
  transition: all 0.5s;
  @media screen and (max-width: 1024px) {
    & {
      bottom: 8%;
      width: 180px;
    }
  }
}

.slide {
  background-repeat: no-repeat !important;
}

.sliderNavInside {
  height: 100%;
  width: 50%;
  background-color: #1c1e1f;
  transition: all 0.5s;
  position: relative;
  border-radius: 20px;
}

.secondaryText {
  @include secondaryText;
}

.mainText {
  @include mainText;
  position: relative;
  cursor: pointer;
  text-transform: capitalize;
}

.mainTextContainer {
  position: relative;
  margin: 10px 0 20px 0;
}
.mainTextContainer:after {
  content: "";
  display: block;
  border-bottom: 1px solid $white;
  width: 0;
  position: absolute;
  right: 0;
  -webkit-transition: 1s ease;
  transition: 0.7s ease;
}

.mainTextContainer:hover:after {
  width: 100%;
  left: 0;
}

.aboutSection {
  padding: 200px 20px 0px 20px;

  color: $white;
  margin-left: auto;
  font-family: MontThin, MontT, sans-serif;
  font-style: normal;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 100px;
  @media screen and (max-width: 768px) {
    width: 100%;
    padding: 60px 10px;
    text-align: center;
    align-items: center;
  }

  @media screen and (max-width: 600px) {
    width: 100%;
    padding-top: 40px;
    gap: 10px;
  }
}

.aboutUsHeader {
  @include h2;
  margin-bottom: 40px;
  @media screen and (max-width: 768px) {
    width: 100%;
    margin-bottom: 10px;
  }
}

.aboutUsPar {
  @include p;
  width: 50%;
}
.responsiveText{
  display: none;
  @media screen and (max-width: 768px) {
    display: block;
    text-align: center;
    @include h2;
  }
}

.horizontalSection {
  display: flex;
  gap: 50px;
  flex-wrap: nowrap;
  padding: 30px 50px 20px 50px;
  @media screen and (max-width: 768px) {
    padding: 30px 10px;
  }
}

.responsiveCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 100px;
}
// @media screen and (max-width: 768px) {
//   .customNext,
//   .customPrev {
//     width: 50px; /* Adjust width as needed */
//     height: 50px; /* Adjust height as needed */
  
//     &::after {
//       font-size: 24px; /* Adjust icon size as needed */
//     }
//   }
  
//   .customNext {
//     right: 10px; /* Adjust position as needed */
//   }
  
//   .customPrev {
//     left: 10px; /* Adjust position as needed */
//   }
// }

