@import "../../../styles/colors.scss";
@import "../../../styles/commonStyles.scss";

.adminCats {
  @include adminPageContainer;
}
.catHead {
  @include panelHead;
}

.catHeadTitle {
  @include panelHeadTitle;
}

.catCard {
  @include adminCard;
}

.names {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  gap: 8px;
}

.catName {
  @include cardText;
  color: $adminTextColor;
}

.catProps {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.noimage {
  height: 100px;
  width: 100px;
  background-color: $cardBorderColor;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
